hugo-contents-cleanwhite:
    image: nutsllc/toybox-nginx:1.15.7-alpine
    volumes:
        - ../public:/usr/share/nginx/html
    #environment:
        #- TOYBOX_UID=1000
        #- TOYBOX_GID=1000
        #- VIRTUAL_HOST=nuts-toybox.com
        #- LETSENCRYPT_HOST=nuts-toybox.com
        #- LETSENCRYPT_EMAIL=dev@nutsllc.jp
    ports:
        - "8080:80"
